/* Imagenes en input */
/*input#nombre, input#apellidos {  background: url("../img/contacto/user4.png") no-repeat scroll 0 0 transparent; }
input#particularempresa, input#nifcif, input#cp {  background: url("../img/contacto/pencil43.png") no-repeat scroll 0 0 transparent; }
input#telefono{ background: url("../img/contacto/call5.png") no-repeat scroll 0 0 transparent; }
input#email, input#email2{  background: url(".../img/contacto/email.png") no-repeat scroll 0 0 transparent; }
input#pswd, input#pswd2{  background: url("../img/contacto/key162.png") no-repeat scroll 0 0 transparent; }
input#usuario{  background: url("../img/contacto/user157.png") no-repeat scroll 0 0 transparent; }
input#direccion{  background: url("../img/contacto/home168.png") no-repeat scroll 0 0 transparent; }
input#iban{  background: url("../img/contacto/payment.png") no-repeat scroll 0 0 transparent; }*/
form{
  font-size: 90%;
  color: #1608FF;
}
div {
  margin: .4em 0;
}
div label {
  width: 25%;
  float: left;
}


textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #D5F1FF;
  resize: none;
}
input{
 width: 98%;
 height: 40px;
 font: 300 12px "Open Sans", Arial, sans-serif;
 margin: 5px 5px 10px 0;
}
#left {
  float:left; 
  width:50%;
  background-color:#D5F1FF;
}
#right {
  margin-left:50px;
  background-color:#D5F1FF;
}

.important{ color:red;  font-weight:bold; }

label{display:inline-block; width:90%;  }


.error{ width:auto; color:red;  font-size:small;  }


div { padding: 2px; }



 .text, select
{
  height: 20px;
  width: 230px;
  border:10px orange; 
  border-radius:15px;
  border-left: 4px solid #1608FF; 
  border-bottom: 1px solid #1608FF;
  background-color : #D5F1FF;
  /*padding: 10px 6px 6px 22px;*/
  text-align: right;
}



input[type="submit"]{ 
  background-color: #fff;
  color: #1608FF;
  border-bottom: 2px solid #04004C;
  border-radius: 25px; 
  margin-left: 15%;
  width: 80%;
  height: 15%;
  font-weight: bold;
  padding: 1%;
  font-size: 15px;
}

input[type="submit"]:focus, input[type="submit"]:hover
{ 
  background-color:#1608FF;
  color: black;
  border-bottom: 2px solid #03ADFF;
  border-radius: 25px;
  font-weight: bold;
  color:#fff;
}

fieldset {
  background-color: #D5F1FF;
}
fieldset:hover{
  background-color:#fff;
}
legend{
  font-size: 25px;
  font-family: 'Pacifico', cursive;
}

/*Titulo: Validacion de formulario*/
/*.purple_b {
    font-family: 'Pacifico', cursive;
    color: #4B088A;
    font-size: 40px;
}
.purple {
    font-family: 'Pacifico', cursive;
    color: #8000FF;
    font-size: 30px;
}
.purple_w{
    font-family: 'Pacifico', cursive;
    color: #BE81F7;
    font-size: 20px;
}*/