/* Imagenes en input */
/*input#nombre, input#apellidos {  background: url("../img/contacto/user4.png") no-repeat scroll 0 0 transparent; }
input#particularempresa, input#nifcif, input#cp {  background: url("../img/contacto/pencil43.png") no-repeat scroll 0 0 transparent; }
input#telefono{ background: url("../img/contacto/call5.png") no-repeat scroll 0 0 transparent; }
input#email, input#email2{  background: url(".../img/contacto/email.png") no-repeat scroll 0 0 transparent; }
input#pswd, input#pswd2{  background: url("../img/contacto/key162.png") no-repeat scroll 0 0 transparent; }
input#usuario{  background: url("../img/contacto/user157.png") no-repeat scroll 0 0 transparent; }
input#direccion{  background: url("../img/contacto/home168.png") no-repeat scroll 0 0 transparent; }
input#iban{  background: url("../img/contacto/payment.png") no-repeat scroll 0 0 transparent; }*/
form{
  font-size: 90%;
  color: #1608FF;
}
div {
  margin: .4em 0;
}
div label {
  width: 25%;
  float: left;
}


textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #D5F1FF;
  resize: none;
}
  
/*h2{ 
  font-size: 40px;  
  text-shadow: 2px 2px #222;
  border-bottom: 2px solid #FFF;
  text-align: center;
  margin: 0 0 5px 0;
 }*/

}
input{
 width: 98%;
 height: 40px;
 font: 300 12px "Open Sans", Arial, sans-serif;
 margin: 5px 5px 10px 0;
}
#left {
  float:left; 
  width:50%;
  background-color:#D5F1FF;
}
#right {
  margin-left:50px;
  background-color:#D5F1FF;
}

/*body{
    font-family: 'Vollkorn', serif;
    margin: 2% 5% 5%;    
    background-color: black;
}*/

/*.demandante{  font-style: italic;}*/

.important{ color:red;  font-weight:bold; }

label{display:inline-block; width:90%;  }

/*.seleccionar{ width:100px;  }*/

.error{ width:auto; color:red;  font-size:small;  }

/*#pie{ clear:both;}*/

/*select{  width: 20%; background: #D5F1FF; border-radius:15px; border-left: 4px solid #1608FF;  height: 20px;}*/

div { padding: 2px; }

/*#formulario 
{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),  
              0 1px 1px rgba(0, 0, 0, .2),
              0 3px 0 #fff,
              0 4px 0 rgba(0, 0, 0, .2),
              0 6px 0 #fff,  
              0 7px 0 rgba(0, 0, 0, .2);
  background: #9F81F7;
  border: 1px solid silver;   
  width: 95%; 
  margin: 3px 3px 3px 3px;
  padding: 25px;
  border-radius: 50px;    
}*/

 .text, select
{
  height: 20px;
  width: 230px;
  border:10px orange; 
  border-radius:15px;
  border-left: 4px solid #1608FF; 
  border-bottom: 1px solid #1608FF;
  background-color : #D5F1FF;
  /*padding: 10px 6px 6px 22px;*/
  text-align: right;
}*
/*#nifcif, #nombre, #pswd, #pswd2{
  width: 150px;
}
#telefono{
  width: 90px;
}
#particularempresa {
  width: 100px;
}
#direccion, #iban{
  width: 320px;
}*/



input[type="submit"]
{ 
  background-color: #fff;
  color: #1608FF;
  border-bottom: 2px solid #04004C;
  border-radius: 25px; 
  margin-left: 15%;
  width: 80%;
  height: 15%;
  font-weight: bold;
  padding: 1%;
  font-size: 15px;
}
/*input[type=submit]{
 background-color:#FF9900;
 height:50px;
 
 border:none;
 font-weight:400;
 letter-spacing:2px;
 color:#FFFFFF;
}*/

input[type="submit"]:focus, input[type="submit"]:hover
{ 
  background-color:#1608FF;
  color: black;
  border-bottom: 2px solid #03ADFF;
  border-radius: 25px;
  font-weight: bold;
  color:#fff;
}

/*Placeholder*/
/* all */
/*::-webkit-input-placeholder { color:#5F04B4; }*/
/* ::-moz-placeholder { color:#5F04B4; } firefox 19+ */
/*:-ms-input-placeholder { color:#5F04B4; }  ie */
/*input:-moz-placeholder { color:#5F04B4; }*/

/*Requisitos password*/
/*.erroneo
{
  background:url(../img/contacto/mal.png) no-repeat 0 50%;
  padding-left:25px;
  line-height:14px;
  color:#ec3f41;
}
.valido 
{
  background:url(../img/contacto/bien.png) no-repeat 0 50%;
  padding-left:25px;
  line-height:14px;
  color:#3a7d34;
} 
#pswd_info 
{
  position: center;
  top:230px;
  right:55px;
  width:250px;
  padding:15px;
  background:#FFF;
  font-size:.875em;
  border-radius:5px;
  box-shadow:0 1px 3px #ccc;
  border:1px solid #ddd;
  display: none;
}*/

fieldset 
{
  background-color: #D5F1FF;
}
fieldset:hover
{
  background-color:#fff;
}
legend{
  font-size: 25px;
  font-family: 'Pacifico', cursive;
}

/*Titulo: Validacion de formulario*/
/*.purple_b {
    font-family: 'Pacifico', cursive;
    color: #4B088A;
    font-size: 40px;
}
.purple {
    font-family: 'Pacifico', cursive;
    color: #8000FF;
    font-size: 30px;
}
.purple_w{
    font-family: 'Pacifico', cursive;
    color: #BE81F7;
    font-size: 20px;
}*/